<header class="site-header">
  <div class="wrapper">
    <!-- Navbar -->
    <nav id="navbar" class="navbar-expand-md navbar fixed-top">
      <div class="container-fluid">
        <a href="/" class="navbar-brand home-name p-3">Rizkie <span>Pratama</span></a>
        <button class="navbar-toggler ms-auto" aria-label="Navigation Menu">
          <i class="fas fa-bars text-light"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
              {% if site.lang == "en" %}
              <li class="nav-item"><a class="nav-link" href="/">{% t pages.home %}</a></li>
              {% elsif site.lang == "jp" %}
              <li class="nav-item"><a class="nav-link" href="/jp">{% t pages.home %}</a></li>
              {% endif %}
              <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/about">{% t pages.about %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/portofolio">{% t pages.portofolio %}</a></li>
              <li class="nav-item"><a class="nav-link" href="{{ site.baseurl }}/blog">{% t pages.blog %}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>