
#about-section {
  overflow: hidden;
}

.about-block {
  background-color: rgba(0, 0, 0, 0.61);
}

#about-desc {
  padding: 50px;
  max-width: 800px;
  margin: 150px auto 150px 43vw ;
}

#about .social-box,
#about-orgs {
  margin-top: 100px;
}

.profile-image {
  height: 100vh;
}

.social-box ul {
  list-style: none;
  display: flex;
  margin-top: 2rem;
  padding: 0;
}

.social-box li {
  margin-right: 2rem;
  margin-left: 2rem;
  font-size: 3rem
}

#about-profile {
  position: fixed;
}

#about-day-job img {
  width: 100%;
  max-width: 250px;
}

#about-studio img {
  width: 100%;
  max-width: 250px;
  filter: invert();
}

.profile-image-badge {
  max-width: 400px;
  margin: 50px auto;
  border-radius: 300px;
}

@media (max-width: 992px) {
  .profile-image {
    display: none;
  }
  
  #about-desc {
    background-color: rgba(0, 0, 0, 0.900);
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    max-width: 100%;
  }

  .social-box li {
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 2rem
  }

  #about h4 {
    font-size: 1rem;
  }
}

@media (max-width: 992px) and (orientation: portrait) {
  .profile-image {
    width: auto;
    height: 100vh;
  }
}

@media (max-width: 992px) and (orientation: landscape) {
  .profile-image {
    width: 100%;
    height: auto;
  }
}