div.highlight {
    display: block;
    background: #000000a6;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
    border-left: #DADADA solid 5px;
}

#blog {
    background-color: rgba(0, 0, 0, 0.900);
    min-height: 100vh;
}

#blog .navbar.fixed-top {
    position: absolute!important;    
}

#blog-post {
    padding-bottom: 200px;
}

#blog-index {
    margin-top: 10rem;
}

.blog-post-content img {
    width: 100%;
}

.post-title {
    margin-bottom: .5rem;
    font-size: 3rem;
    font-weight: bold;
}

.avatar {
    border-radius: 50%;
}

.blog-post-content {
    margin-top: 3rem;
}


.blog-post-content h2 {
    margin-top: 3rem;
}

.hero-post-header {
    height: 100vw;
    min-height: 30vh;
    max-height: 70vh;
    content: "";
    margin-bottom: 3rem;
    background-size: cover!important;
}

.post-meta-items {
    list-style: none;
    padding-left: 0!important;
}

.meta-date,
.meta-tag {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
}

.meta-item {
    padding: 5px 10px;
    color: #2A2A2A;
    border-radius: 3px;
    font-weight: bold;
}

.meta-item {
    background: #FAFAFA;
}

.meta-tag {
    background: #FAFAFA31;
    color: #FAFAFA;
}

.similar-post-block-title {
    margin: 4rem 0 3rem!important;
    border-left: #FAFAFA solid 5px;
    padding-left: 1rem!important;
}

.similar-post-block-title h3,
.similar-post-block-title p {
    font-weight: bold;
    text-transform: uppercase;
}

.similar-post-items {
    width: 250px;
}

.similar-post-cover-thumb {
    width: 100%;
}

.similar-post-title {
    margin-top: 15px;
    font-weight: bold;
}

.similar-post-excerpt {
    font-size: 0.85rem;
}

.post-card-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
}

.post-card-excerpt {
    font-size: 0.9rem;
    color: #DADADA;
}


.post-card-date {
    font-size: .8rem;
}

.post-cards {
    margin-bottom: 1.5rem;
}

.post-cards-meta {
    padding: 0 2rem!important;
}

.tags-list,
.blog-badge {
    margin-bottom: 2rem;
}

.tags-list h1,
.blog-badge h1 {
    padding-left: 1.5rem;
    font-weight: bold;
    background: #FAFAFA;
    color: #2A2A2A;
    text-transform: uppercase;
}


.blog-badge h1 {
    font-size: 3rem;
}

.tags-list h1 {
    font-size: 2rem;
}

.list-group-item-dark-rp {
    background-color: transparent!important;
    border-bottom: 1px solid rgb(255 255 255 / 30%)!important;
}

span.list-item-article-count {
    font-weight: bold;
    color: #737373;
}

.similar-post-item {
    padding: 1rem!important;
}

.pagination .next,
.pagination .previous {
    font-weight: bold;
}

.pagination .next {
    margin-left: 1rem;
}

.pagination .previous {
    margin-right: 1rem;
}

@media (max-width: 992px) {
    #blog-index {
        margin-top: 5rem;
    }

    .post-cards {
        margin-bottom: 2.5rem;
    }
}


@media (max-width: 768px) {
    .post-card-title {
        margin-top: 1.5rem;
    }
}