html, body {
  color: #fafafa!important;
  font-family: 'Roboto', cursive!important;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
  min-height: 100vh;
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}

html {
  background-size: cover!important;
}

body#landing {
  background-color: rgba(0, 0, 0, 0.815)!important;
}

body#page {
  background-color: rgba(0, 0, 0, 0.911)!important;
}

body#about, body#blog {
  background-color: rgba(0, 0, 0, 0.97)!important;
}

#page {
  padding-right: 0!important;
  padding-left: 0!important;
}

.font-weight-bold {
  font-weight: 700;
}

.flex-1 {
  flex: 1;
}
.navbar-toggler {
  z-index: 999;
}
.nav-item {
  margin-right: 35px;
  text-transform: uppercase;
}

.nav-item a:hover, a:hover {
  opacity: 0.5;
  transition: opacity 0.5s ease-in-out;
}
.nav-item a, a {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.nav-item, .navbar-toggler {
  color: #fafafa;
}

.navbar-toggler:hover {
  opacity: 1;
}

a {
  text-decoration: none!important;
  color: #fafafa!important;
}

.single-headline,
.is-hidden,
.is-visible {
  display: inline-block;
}

.single-headline {
  position: relative;
  text-align: left;
  vertical-align: top;
  border-right: #000;
  font-family: 'Mako', cursive!important;
  font-size: 2rem;
  user-select: none;
}

.home-name {
  font-family: 'Comforter', cursive;
  font-size: 7rem;
  user-select: none;
}

.is-hidden {
  display: none;
}

.is-visible {
  display: inline-block;
  white-space: nowrap;
}

.page-heading, .heroes-title, .heroes-subtitle {
  text-align: center;
  text-transform: uppercase;
}

.page-heading, .heroes-title {
  font-weight: 700;
  font-size: 3rem;
}

.heroes-subtitle {
  font-size: 2rem;
}

.mobile-only {
  display: none;
}

#portofolio-heroes {
  background: url("/assets/images/bg/3.jpg") no-repeat center center;
  background-size: cover;
}

.portofolio-site-preview {
  width: 100%;
  max-width: 650px;
  border-radius: 3px;
}

.web-portofolio {
  margin-top: 5rem!important;
}

.web-portofolio p {
  padding: 2rem;
}

.portofolio-cards {
  border: 1px solid #fafafa1a;
  background-color: #060606;
  border-radius: 3px;
  margin: 1rem;
  padding: 0 2rem;
  height: 100%;
}

.portofolio-cards h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.portofolio-cards .fa-brands {
  font-size: 1.5rem;
}

.portofolio-links, .stack-list {
  list-style: none;
  margin: 1rem 0px 0px;
  padding: 0;
  text-align: center;
}

.portofolio-links li, .stack-list li {
  display: inline-block;
  margin: 10px 5px;
}

.stack-list li img {
  max-width: 50px;
}

.stack-list li img.wide {
  max-width: 75px;
}

#portofolio-heroes .container-xxl{
  position: relative;
  height: 100%;
}

#portofolio-heroes .container-xxl .heroes-tagline {
  position: absolute;
  bottom: 3rem;
}

.heroes-scrolldown {
  font-size: 2rem;
  text-align: center;
  position: absolute;
  display: block;
  bottom: 2rem;
  right: 1rem;
  transform: translate(-50%, -50%);
}

.shade-block {
  background: rgba(0, 0, 0, 0.815)!important;
  height: 100vh;
}

#portofolio-selector {
  margin-top: 5vh;
}

.cover-block {
  display: block;
  background-color: #050505;
}

.portofolio-block {
  display: block;
  min-height: 100vh;
}

.portofolio-wrapper {
  margin-top: 30px!important;
  margin-left: 0px!important;
  margin-right: 0px!important;
  position: absolute!important;
  top: 0;
  left: 0;
  z-index: -9999;
  opacity: 0%;
}

.portofolio-wrapper.active {
  position: relative!important;
  z-index: 0;
  opacity: 100%;
  transition: opacity 2s ease;
  margin-right: calc(var(--bs-gutter-x) * -.5!important);
  margin-left: calc(var(--bs-gutter-x) * -.5)!important;
}

.modal-fullscreen .modal-body {
  background-color: #000000e8;
}

.gallery-item {
  display: block;
  max-width: 23vw;
}

.gallery-item img {
  width: 100%;
}

.row > * {
  padding: 0!important;
}

.portofolio-tab {
  list-style: none;
  margin: auto;
  padding: 0;
  display: block;
  text-align: center;
}
.portofolio-tab li {
  display: inline-block;
  margin: 5px;
}
.portofolio-tab li a {
  color: #5a5a5a!important;
  background-color: #fafafa;
  border-radius: 20px;
  padding: 5px 10px;
  min-width: 70px;
  display: block;
  text-align: center;
  font-weight: 400;
}

.languages-list {
  margin-left: 30px;
  margin-bottom: 30px;
}

.single-language {
  text-transform: uppercase;
  font-weight: 700;
}

.masonry-galery-container {
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 400px);
  margin: 0 auto;
  padding: 3rem 0;
}

.masonry-galery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.masonry-galery-container a {
  display: inline-block;
}

#portofolio-tabs {
  color: #fafafa!important;
  border-bottom: 0;
  margin: 0 -15px;
}

#portofolio-tabs li {
  display: block;
}

#portofolio-tabs .nav-item {
  margin-right: 0!important;
}

#portofolio-tabs .nav-item .nav-link {
  color: #FAFAFA;
  padding: .5rem 2rem;
  text-transform: uppercase;
  transition: color 1s ease;
  border: none;
  border-radius: 0;
  font-size: 1.2rem;
}

#portofolio-tabs .nav-item .nav-link:hover {
  color: #212121;
  border: none;
  background-color: #ffffffad;
  transition: color 1s ease;
}

#portofolio-tabs .nav-item .nav-link.active{
  color: #212121;
  font-weight: 600;
}

#portofolio-tabs .nav-item .nav-link.active:hover{
  background-color: #FFF;
}

.tab-pane.fade {
  display: none;
}

.portofolio-head-title {
  background: #FFF;
  display: block;
  width: fit-content;
  color: #212121;
  font-weight: 600;
  text-transform: uppercase;
  padding: .5rem 5rem .5rem 1.5rem;
}

@media (max-width: 992px) {
  .mobile-only {
    display: inherit;
  }
  .navbar-collapse.show {
    background-color: rgba(15, 15, 15, 0.95);
    padding: 50px 50px 25px;
    width: 100%;
    position: fixed;
    top: -200px;
    left: 0;
  }
  .home-name {
    font-size: 4rem;
  }
  .single-headline {
    font-size: 1rem;
  }

  .heroes-title {
    font-size: 2rem;
  }
  
  .heroes-subtitle {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .page-heading {
    font-size: 2.5rem;
  }
}

@media (max-width: 576px) {
  .portofolio-site-preview {
    max-width: 90%;
  }

  #web-portofolio-landing-title h3 {
    margin-left: 2rem;
  }
}

@media (max-width: 768px) {
  .portofolio-cards {
    height: auto;
    padding-bottom: 2rem;
  }

  .page-heading, .heroes-title {
    font-size: 1.5rem;
  }

  .heroes-subtitle {
    font-size: 1rem;
  }

  #portofolio-heroes .container-xxl .heroes-tagline {
    left: 1rem;
  }

  #portofolio-tabs .nav-item .nav-link {
    font-size: 0.9rem;
  }
}


@media (max-width: 1400px) {
  #portofolio-heroes .container-xxl .heroes-tagline {
    left: 2rem;
  }
}