---
layout: page
title: Photography
custom_css:
  - porto
permalink: /portofolio/photography
street_images:
  - MAY06511.jpg
  - MAY06585.jpg
  - MAY06590.jpg
  - YGA07658.jpg
  - YGA07979.jpg
  - YGA06773.jpg
  - YGA06824.jpg
  - YGA07986.jpg
portrait_images:
  - IMG_9558.jpg
  - IMG_9638.jpg
  - IMG_9685.jpg
  - IMG_9641.jpg
  - YGA06802.jpg
  - YGA06835.jpg
  - YGA06838.jpg
  - YGA06841.jpg
  - YGA06845.jpg
  - IMG_0034_2.jpg
  - IMG_0036-1.jpg
  - IMG_0039.jpg
  - IMG_0374.jpg
  - IMG_0375.jpg
  - IMG_0377.jpg
cosplay_images:
  - YGA08815.jpg
  - YGA08817.jpg
  - YGA08809.jpg
  - YGA08792.jpg
  - YGA06937.jpg
  - IMG_8149.jpg
---

<div id="portofolio">
  <section id="portofolio-content" style="padding-top: 120px; padding-bottom: 80px;">
    
    <div class="porto-centered porto-tab-header">
      <a href="{{ site.baseurl }}/portofolio" id="porto-back-btn" class="porto-preview-btn">
        <i class="fa-solid fa-arrow-left"></i> {% t global.back %}
      </a>
      
      <div class="porto-photo-subnav" id="global-photo-subnav">
        <button class="porto-subnav-btn active" data-photo-target="#photo-street"><i class="fa-solid fa-street-view"></i> {% t portofolio_page.photography.street %}</button>
        <button class="porto-subnav-btn" data-photo-target="#photo-portrait"><i class="fa-solid fa-user"></i> {% t portofolio_page.photography.potraiture %}</button>
        <button class="porto-subnav-btn" data-photo-target="#photo-cosplay"><i class="fa-solid fa-mask"></i> {% t portofolio_page.photography.cosplay %}</button>
      </div>
    </div>

    <div class="tab-content" id="portofolio-tab-contents">
      <div class="tab-pane active" id="photography">
        <div class="porto-content-wrap porto-centered">

          <div class="porto-photo-pane active" id="photo-street">
            <div class="porto-gallery-grid reveal">
              {% for img in page.street_images %}
                <a class="porto-gallery-shot" href="#" data-lity data-lity-target="{{ '/portofolio/photography/street/source/' | append: img | imgproxy: 'rs:fit:1920:1920' }}">
                  <img class="skeleton-loader" src="{{ '/portofolio/photography/street/source/' | append: img | imgproxy: 'rs:fill:300:300' }}" loading="lazy" alt="Street">
                </a>
              {% endfor %}
            </div>
          </div>

          <div class="porto-photo-pane" id="photo-portrait" style="display: none;">
            <div class="porto-gallery-grid reveal">
              {% for img in page.portrait_images %}
                <a class="porto-gallery-shot" href="#" data-lity data-lity-target="{{ '/portofolio/photography/portraiture/source/' | append: img | imgproxy: 'rs:fit:1920:1920' }}">
                  <img class="skeleton-loader" src="{{ '/portofolio/photography/portraiture/source/' | append: img | imgproxy: 'rs:fill:300:300' }}" loading="lazy" alt="Portrait">
                </a>
              {% endfor %}
            </div>
          </div>

          <div class="porto-photo-pane" id="photo-cosplay" style="display: none;">
            <div class="porto-gallery-grid reveal">
              {% for img in page.cosplay_images %}
                <a class="porto-gallery-shot" href="#" data-lity data-lity-target="{{ '/portofolio/photography/cosplay/source/' | append: img | imgproxy: 'rs:fit:1920:1920' }}">
                  <img class="skeleton-loader" src="{{ '/portofolio/photography/cosplay/source/' | append: img | imgproxy: 'rs:fill:300:300' }}" loading="lazy" alt="Cosplay">
                </a>
              {% endfor %}
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
</div>

<script src="/assets/js/porto.js?v={{ site.time | date: '%s' }}" defer></script>
