<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="about" class="d-flex flex-fill flex-column">
        <!-- Landing Header -->
        {% include header.html %}
        <section id="about-section">
          <div class="row about-block">
            <div class="col-12">
              <div id="about-profile">
                <img class="profile-image" src="/assets/images/YGA08659.jpg">
              </div>
            </div>
            
            <div class="col-12">
              <div id="about-desc">
                <h1 class="page-heading mb-5 fw-bold">{% t about_page.title %}</h1>
                <img src="/assets/images/YGA08659_F.jpg" class="profile-image-badge mobile-only">
                {{ content }}

                <div id="about-orgs" class="row align-items-center justify-content-center">
                  <div class="col">
                    <div id="about-day-job" class="text-center">
                      <h4 class="text-uppercase fw-bold">{% t about_page.current_employment %}</h4>
                      <a href="https://vidio.com/"><img src="/assets/images/vidio.svg" class="mt-3 mb-1"></a>
                      <p>{% t about_page.vidio_sub %}</p>
                    </div>  
                  </div>
                  
                  <div class="col">
                    <div id="about-studio" class="text-center">
                      <h4 class="text-uppercase fw-bold">{% t about_page.founder_of %}</h4>
                      <a href="https://hibikaze.id/"><img src="/assets/images/hibikaze_studio.png" class="mt-4 mb-2"></a>
                      <p>{% t about_page.hkz_sub %}</p>
                    </div>
                  </div>
                </div>

                <div class="social-box text-center">
                  <h4 class="fw-bold text-uppercase">{% t about_page.social_title %}</h4>
                  <h5>{% t about_page.social_sub %}</h5>
                    
                  <ul class="align-items-center justify-content-center">
                    <li><a href="https://github.com/RizkiePratama"><i class="fab fa-github"></i></a></li>
                    <li><a href="https://twitter.com/RizkiePratama_"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="https://www.instagram.com/yuuga.ic/"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/rizkie-pratama-0153b6b4/"><i class="fab fa-linkedin"></i></i></a></li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Footer -->
        {% include footer.html %}
    </body>
</html>
