<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="blog" class="d-flex flex-fill flex-column">
        <!-- Landing Header -->
        {% include header.html %}
        <div id="blog-post">
        <div class="row hero-post-header" style="background: url('{{page.cover}}') no-repeat center center">
        </div>
        <div class="container">
          <div class="row blog-block p-5">
            <div class="col-12 col-lg-12">
                <div class="post-meta">
                    <h1 class="post-title">{{page.title}}</h1>
                    <ul class="post-meta-items">
                        <li class="meta-item meta-date">Posted at {{page.date  | date: "%B %d, %Y"}}</li>
                        {% for tag in page.tags %}
                        <li class="meta-item meta-tag"><a href="/blog/tags/{{ tag }}">{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                </div>

                <section class="blog-post-content">
                    {{ content }}
                </section>
            </div>


            {% assign current_tags = page.tags %}
            {% assign related_posts = site.posts %}
            {% for tag in current_tags %}
                {% assign related_posts = related_posts | where: 'tags', tag %}
            {% endfor %}
            {% assign related_posts = related_posts | where_exp: 'post', 'post != page' %}

            {% if related_posts.size > 0 %}
            <div class="col-12 col-lg-12">
                <div class="row similar-post-block">
                    <div class="col-12 col-lg-12 similar-post-block-title">
                        <h3>Done Reading this Post?</h3>
                        <p>Maybe check some More Similar Content...</p>
                    </div>
                    <div class="col-12 col-lg-12 similar-post-block-list">
                        <div class="row">
                            {% for post in related_posts limit: 3 %}
                            <div class="col-12 col-md-4 col-lg-4 similar-post-item">
                                <a href="{{ post.url }}">
                                    <img class="similar-post-cover-thumb" src="{{ post.cover }}">
                                    <h3 class="similar-post-title">{{ post.title }}</h3>
                                    <p class="similar-post-excerpt">{{ post.content | strip_html | truncatewords: 30 }}</p>
                                </a>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
          </div>
        </div>

        {% if page.disable_comment != false %}
        <div class="container">
            <div id="disqus_thread"></div>
            <script>
                var disqus_config = function () {
                    this.page.url = "{{ site.url }}{{ page.url }}";  // Replace PAGE_URL with your page's canonical URL variable
                    this.page.identifier = "{{ page.id }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() { // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');
                    s.src = 'https://rpnet-blog.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </div>
        {% endif %}

        <!-- Footer -->
        {% include footer.html %}
    </body>
</html>
