<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="landing" class="d-flex flex-fill flex-column">
      <!-- Landing Header -->
      {% include header.html %}

      <!-- Home -->
      <section id="home" class="container">
        <div class="row d-flex vh-100 align-items-center justify-content-center">
          <div class="col-12 col-lg-8 home-content text-center">
            <h1 class="home-name">Rizkie <span>Pratama</span></h1>
            <h4 class="cd-headline clip home-headline"><span class="cd-words-wrapper single-headline" style="max-width: 469.92px; overflow: hidden;"><b class="is-hidden">Software Developer</b><b class="is-hidden">Photographer</b><b class="is-visible">Game Developer</b></span></h4>
          </div>
        </div>

        <div class="row fixed-bottom">
          <!-- Languages list-->
          <div class="fixed-block block-left">
            <ul class="list-unstyled languages-list">
              <li><a href="#0"><span class="single-language">ENG</span></a></li>
              <li><a href="#0"><span class="single-language">JAP</span></a></li>
            </ul>
          </div>
          <!-- Social media icons-->
          <div class="fixed-block block-right">
            <ul class="list-unstyled social-icons">
              <li><a href="https://twitter.com/RizkiePratama_"><i class="icon ion-social-twitter"></i></a></li>
              <li><a href="https://github.com/RizkiePratama"><i class="icon ion-social-github"></i></a></li>
              <li><a href="https://www.instagram.com/yuuga.ic"><i class="icon ion-social-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </section>

      <!-- Footer -->
      {% include footer.html %}
    </body>
</html>
