<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body id="page" class="d-flex flex-fill flex-column">
        <!-- Landing Header -->
        {% include header.html %}

        <!-- Page -->
        <main id="swup" class="transition-fade">
        <section id="page" class="container-fluid">
            <div class="reveal">
                {{content}}
            </div>
        </section>
        </main>

        <!-- Footer -->
        {% include footer-page-gallery.html %}
    </body>
</html>
